﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="work.aspx.cs" Inherits="work" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
      
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Traveler</title>
    <!-- Bootstrap -->
   
   <link href="css/bootstrap.minnew.css" rel="stylesheet" />
    <link href="css/custmoms-cs.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
   <form id="form1" runat="server" style="background-image:url(eyes_of_a_vortex_hd_widescreen_wallpapers_2560x1600.jpeg);" >
    
        <div>
        <div class=" navbar navbar-default navbar-fixed-top" style="height:60px" role="navigation">
            <div class="container">
                <div class=" navbar-header">
                    <button type="button" class=" navbar-toggle" data-toggle="collapse" data-target=" .navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                        
                    </button>
                  <a class="navbar-brand" href="work.aspx"><span><img alt="Logo" class="icon-bar" style="margin-top:-5px" src="eyes_of_a_vortex_hd_widescreen_wallpapers_2560x1600.jpeg" height="100" width="175" onclick="work.aspx"  /></span></a>
                       </div>
                
            </div>
        </div>
         </div>

         <hr />
       <br />
          <br />
          <br />
          <br />
       
         
       <div class="container">
        <div class="form-horizontal" style="height:1000px">
         
            <div class="form-group">
                     <%--<hr />--%>
                      <div class="col-md-3">
                         <asp:TextBox ID="txt1" CssClass="form-control" runat="server">
                       </asp:TextBox>
                        
                      </div>
                                </div>
             <div class="form-group">
                     <%--<hr />--%>
                      <div class="col-md-3">
                         <asp:TextBox ID="txt2" CssClass="form-control" runat="server">
                       </asp:TextBox>
                                             </div>
                                </div>
             <div class="form-group">
                     <%--<hr />--%>
                      <div class="col-md-3">
                         <asp:TextBox ID="txt3" CssClass="form-control" runat="server">
                       </asp:TextBox>
                                             </div>
                                </div>
          <div class="form-group">
                     <%--<hr />--%>
                      <div class="col-md-3">
                         <asp:TextBox ID="txt4" CssClass="form-control" runat="server">
                       </asp:TextBox>
                                             </div>
                                </div>
             
            
    </div>
    </div>
    </form>

    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
